body {
    background-color: #3A3845;
}

hr {
    border-style: dashed none none;
    border-top-style: dotted;
    border-color: #00ADB5;
    border-width: 10px;
    width: 10%;
}

p {
    color:#F8EDE3;
}

h1 {
    color: #F8EDE3;
}

h2 {
    color:#F8EDE3;
}

h3 {
    color:#F8EDE3;
}

h4 {
    color:#F8EDE3;
}

a {
    color: #F8EDE3;
}

th {
    color: #F8EDE3;
}

td {
    color: #F8EDE3;
}

/* USING CSS CLASSES TO STYLE THE SAME TAG AS DIFFERENT WAYS */
.moai {
    background-color: #000000;
}

.green {
    background-color: #10ff4c;
}

.red {
    background-color: red;
}

.circular {
    border-radius: 50%;
}

.circular:hover {
    background-color: #F8EDE3;
}